/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600;700;800;900&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Merienda:wght@300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* Common Styles and Universal Selectors */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Inter', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Merienda', cursive;
    font-family: 'Merriweather', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
    font-family: 'Mulish', sans-serif;
}

main {
    border: 1px solid red;
    padding: 50px 125px 0;
}

/* Start Banner Section */
.banner-section {
    border: 1px solid blue;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(../Images/banner-image.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.banner-text {
    max-width: 53rem;
    text-align: center;
    padding: 0 150px;
}

#banner-title {
    color: #FFF;
    font-size: 2.7em;
    font-weight: 700;
}

#banner-description {
    color: #FFF;
    font-size: .8em;
    font-weight: 400;
    line-height: 1.2rem;
    padding: 2.2rem 0 1.5rem 0;

}

/* banner form */
.banner-form form {
    max-width: 100%;
    gap: .60rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.30);
    border: 1px solid rgb(0, 0, 0);
}

#b-input,
#time,
.find-now {
    width: 10.3rem;
    height: 3rem;
    padding: 1rem 1rem;
}

input#b-input,
#time {
    background-color: #FFF;
    border-radius: 8px;
    border: none;
    color: rgba(19, 19, 24, 0.50);
    font-family: Mulish;
    font-size: .8em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: ;
}

.find-now {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .60rem;
    border-radius: 8px;
    border: none;
    background: #FF5400;
    color: #FFF;
}

/* End Banner Section */

/* Popular TOur */
.popular-tour-section {
    border: 2px solid brown;
    max-width: 1150px;
    border: 5px solid greenyellow;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.popular-tour-text {
    border: 1px solid black;
    padding-right: 3.5rem;
    width: 50%;
}

.popular-title {
    color: #131318;
    font-size: 2em;
    font-weight: 800;
    padding: 0 0 1rem;
}

.popular-description,
.popular-ul-li {
    line-height: 1.7em;
}

.popular-ul-li {
    padding: .8rem 1.2rem;
}

.popular-ul-li li {
    padding: .40rem 0;
}

.popular-image {
    width: 50%;
}

.popular-image img {
    border: 1px solid black;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0 auto;
}

.common-button {
    margin: 1.2rem 0;
    border: none;
    color: #FFF;
    width: 10.25rem;
    height: 2.6rem;
    border-radius: .5rem;
    background: #FF5400;
}

/* end popular tour */

/* Beautiful Places*/

.beautiful-places-text{
    max-width: 650px;
    margin: 0 auto;
    padding: 3.5rem 2rem;
    text-align: center;
}

.place-images {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(12, 1fr);
}

.place-images img {
    width: 100%;
    height: 100%;
}

.image-one {
    grid-column: span 6;
}

.image-two {
    grid-column: span 6; 
}

.image-three {
    grid-column: span 4; 
}

.image-four {
    grid-column: span 5;
}

.image-five {
    grid-column: span 3; 
}

.image-six {
    grid-column: span 5;
}

.image-seven {
    grid-column: span 7;
}


/* Choose Area */
.choose {
    margin: 20px 0;
    border: 2px solid red;
}

.choose-text {
    max-width: 643px;
    text-align: center;
    font-family: Mulish;
    padding: 10px 5rem;
    margin: 0 auto;
    gap: 10px;
    /* padding: 10px 270px 20px 270px; */
}

#choose-title {
    color: #131318;
    font-size: 35px;
    font-weight: 800;
}

#choose-description {
    color: rgba(19, 19, 24, 0.70);
    font-size: 13px;
    font-weight: 400;
    line-height: 21px;
}

.choose-card {
    display: grid;
    gap: 20px;
    justify-content: center;
    align-content: center;
    grid-template-areas:
        "o o o t t t"
        ". . th th . ."
    ;

}

.handpicked,
.service,
.best-price {
    max-width: 550px;
    border-radius: 16px;
    padding: 32px 55px 32px 32px;

}

.handpicked {
    background: rgba(251, 181, 99, 0.05);
    grid-area: o;
}

.service {
    background: rgba(41, 206, 246, 0.05);
    grid-area: t;
}

.best-price {
    background: rgba(233, 68, 68, 0.05);
    grid-area: th;
}

.choose-h {
    padding: 24px 0 13px 0;
    color: #131318;
    font-family: Mulish;
    font-size: 20px;
    font-weight: 800;
}

/* End Choose Are */

/* Start Newsletter Area */
.newsletter {
    border: 5px solid greenyellow;
    max-width: 1200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.newsletter-content {
    border: 2px solid #FF5400;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: .8rem;
    padding: 0 0 0 2.7rem;
}

.newsletter-text {
    max-width: 650px;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.newslwtter-form {
    /* border: 2px solid black; */
    padding: 0 2.8em 0 0;
    min-width: 230px;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.content-input {
    background: rgba(19, 19, 24, 0.05);
}

.newsletter-btn {
    background: #FF5400;
}

.newsletter-btn,
.content-input {
    border-radius: 8px;
    border: none;
    padding: 10px;
    color: rgba(19, 19, 24, 0.30);

    font-size: .8em;
    font-weight: 400;

}

.newsletter-img {
    width: 50%;
}

.newsletter-img img {
    width: 100%;
    display: block;
}

/* End Newsletter Area */

/* Start Footer Area */
footer {
    max-width: 100%;
    height: 300px;
    background: rgba(19, 19, 24, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

@media screen and (max-width:600px) {
    main {
        border: 1px solid red;
        padding: 10px 10px 0;
    }

    /* Start Banner Section */
    .banner-section {
        padding: 1.9rem 0;
    }

    .banner-text {
        padding: 0 1.6rem;
    }

    #banner-title {
        font-size: 2.1em;
        font-weight: 800;
    }

    /* banner form */
    .banner-form form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        padding: 10px 30px;
        border-radius: 8px;

        background-color: rgba(255, 255, 255, 0.30);
        border: 1px solid rgb(0, 0, 0);
    }

    #b-input,
    #time,
    .find-now {
        width: 255px;
        height: 50px;
    }

    .find-now {
        background: #FF5400;
        color: #FFF;
    }

    /* Popular Tour */
    .popular-tour-section {
        display: flex;
        flex-direction: column;
    }

    .popular-tour-text {
        padding-right: 0rem;
    }

    /* Choose Area */
    .choose {
        margin: 20px 0;
        border: 2px solid red;
    }

    .choose-text {
        padding: 10px 2rem;
    }

    #choose-title {
        font-size: 1.3em;
    }

    .choose-card {
        display: flex;
        flex-direction: column;
    }

    /* End Choose Are */

   /* Start Newsletter Area */
.newsletter {
    border: 5px solid greenyellow;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.newsletter-content {
    width: 100%;
    min-height: 300px;
    padding: 20px 36px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: .3rem;
}

.newsletter-text {
    max-width: 650px;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.newslwtter-form {
width:  100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.content-input {
    background: rgba(19, 19, 24, 0.05);
}

.newsletter-btn {
    background: #FF5400;
}

.newsletter-btn,
.content-input {
    border-radius: 8px;
    border: none;
    color: rgba(19, 19, 24, 0.30);

    font-size: .8em;
    font-weight: 400;

}

.newsletter-img {
    width: 50%;
}

.newsletter-img img {
    width: 100%;
    display: block;
}

/* End Newsletter Area */
    /*responsive done*/

}